<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.daniel.boakye.appointmentscheduler">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity2"
            android:label="@string/title_activity_main_activity2" >
            <intent-filter>
                <action android:name=".MainActivity2" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DoctorSelection"
            android:label="@string/title_activity_doctor_selection" >
            <intent-filter>
                <action android:name=".DoctorSelection" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Confirmation"
            android:label="@string/title_activity_confirmation" >
            <intent-filter>
                <action android:name=".Confirmation" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>


</manifest>
